#header {
    height: 100%;
    background: #ffffff;
    padding: 20px 0;
    margin-bottom: 10px;

    .navbar {
        padding: 0;

        .navbar-brand {
            display: flex;
            align-items: center;
            text-transform: capitalize;

            img {
                width: 150px; /* Adjusted for better visibility */
                height: auto;
                margin-right: 10px;
            }
        }

        .nav-link {
            color: black;
            &:hover {
                color: #ffffff;
                background-color: #E61B77;
                border-radius: 5px;
            }
        }

        .navbar-toggler {
            border-color: rgba(0,0,0,.1);

            .bi-list {
                font-size: 1.25rem;
                margin-right: 2px;
            }
        }

        .bi-box-arrow-right {
            font-size: 1.5rem;
            cursor: pointer;
            color: black;
            &:hover {
                color: #ffffff;
            }
        }
    }
}

#userheader {
    height: 100%;
    background: rgb(51, 129, 153);
    padding: 20px 0;
    margin-bottom: 10px;

    .navbar {
        padding: 0;

        .navbar-brand {
            text-transform: capitalize;
        }

        .nav-link {
            color: black;
            &:hover {
                color: #ffffff;
                background-color: #338199;
                border-radius: 5px;
            }
        }

        .navbar-toggler {
            border-color: rgba(0,0,0,.1);

            .bi-list {
                font-size: 1.25rem;
            }
        }

        .bi-box-arrow-right {
            font-size: 1.5rem;
            cursor: pointer;
            color: black;
            &:hover {
                color: #ffffff;
            }
        }
    }
}

.Company-Logo {
    width: 150px; /* Adjusted for better visibility */
    height: auto;
    margin-right: 10px;
}


#userheader {
    height: 100%;
    background: #ffffff;
    padding: 20px 0;
    margin-bottom: 10px;
}